@import '../../services/variables.scss';

.jobRow {

    background-color: white;
    backdrop-filter: opacity(50%);

    height: 50px;

    display: flex;
    align-items: center;

    padding: 0 30px;

    p {
        margin-right: 30px;
        font-family: $header-font;
        font-weight: 500;
    }

    .active-link {
        color: #ff764d;

    }

}