*, *::before, *::after {
    margin: 0;
    padding: 0;

    text-decoration: none;
    color: black;

    list-style: none;
    
}

body {
    width: 1600px;

    position: relative;

    margin: auto;
}